@media (min-width: 1200px) {
    .navbar {
        background: #c4dfe2;     
        
    }
    
}

/* Anything Smaller than Large  */
@media (max-width: 1199px) {
    .navbar {
        background: #ffc7b5; 
    }


}


.fancybox img {
    height: 550px;
    width:300px;
    -webkit-filter: blur(1px) contrast(1.9) opacity(0.4) sepia(1);
   

}
.fancybox img:hover,
.permahover{
    -webkit-filter: blur(0px) contrast(1) opacity(1) sepia(0);
    transition: .5s;

}

 img{
margin: auto;
 
}




}

body {
    padding-top: 70px; 
}


footer {
    position:relative;
    bottom:0;
    border-top: 1px solid #a2ced3;
    width: 50%;
    opacity: .75;
    color: #a2ced3;
    margin: auto;
    text-align: center;
}




h1{
	text-align: center;
    font-family: dryBrush;
}



.form-wrapper {
  
    margin: 0 auto;
    position: relative;
    width: 90px;
}

form {
    padding: 12px 20px 0;
}

.form-item {
    
    width: 90%;

    margin: 5px auto 10px auto;
}

.form-item input {
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #000;
    font-family: helvetica;
    font-size: 12px;
    height: 50px;
    padding: 0 16px;
    transition: background 0.3s ease-in-out;
    width: 50%;

}

.form-item input:focus {
    outline: none;

}
.button{

background: #1b2228;

color: white;
position: relative;
height: 30px;
 margin: 0 auto 50px auto;
width: 80px;
display: block;
font-family: helvetica;

}
textarea{
    font-family: helvetica;
    padding: 10px;
    margin: auto auto 5px auto;
    position: relative;
    display: block;

}



